*{
margin: 0;
padding: 0;
box-sizing:border-box;

}

.nav{
    display: flex;
    justify-content: center;
position: fixed;
background-color: bisque;
width: 100%;
top: 0;
left: 0;
padding: 20px 0px 30px 0px;
z-index: 1;
}

.nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 32px;

}

.nav ul li{
    margin: 0;
    padding: 0;


}

.nav a{
    text-decoration: none;
    font-size: 20px;
    color:black;
}

.container-header{
    background-color: lightpink;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-profile {
    background-color: salmon;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darksalmon;
}

.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* blue color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #0056b3; /* darker blue on hover */
  }
  .glow-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
    transition: all 0.3s ease;
  }
  
  .glow-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 0 20px #0056b3, 0 0 30px #0056b3, 0 0 40px #0056b3;
  }